<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="True">
  
  <form action="${req.href('/ticket/move')}" method="post">
    <div>
      Move ticket to 
      <span py:if="len(projects) == 1">
        ${projects.keys()[0]}
        <input type="hidden" name="project" value="${projects.keys()[0]}"/>
      </span>
      <select name="project" py:if="len(projects) > 1">
        <py:for each="project in sorted(projects)">
          <option value="${project}">${project}</option>
        </py:for>
      </select>
    </div>
    <div>
      <input type="checkbox" name="delete" value="delete"/> Delete this ticket from the database
    </div>
    <div>
      <input type="hidden" name="ticket" value="${ticket.id}"/>
      <input type="submit" value="Move"/>
    </div>
  </form>
</html>
